* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.justify_start {
    margin-right: auto;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #98FB98 0%, #F0FFF0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-self: flex-start;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #00A86B;
    color: #fff;

}

.button:hover{
    background-color: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #00A86B;
    transition: all 0.3s ease;
}

@media screen and (max-width: 700px){
    .navbar {
        display: grid;
        grid-template-columns: auto;
    }
    .navbar__container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        height: 40px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        height: 30vh;
        z-index: 99;
        background: #131313;
        font-size: 1.6rem;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;

    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle.bar {
        width: 26px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }

    .navbar__item {
        width: 100%;
        height: 40px;
    }

    .navbar__links {
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar__btn {
        padding-bottom: 1rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 40px;
        margin: 0;
    }

    .main__content {
        display: grid;
        grid-template-columns: auto;
        height: 100%;
        width: 100%;
    }
    .main__content h1 {
        font-size: 2rem;
    }
    .main__content p {
        font-size: 1.2rem;
    }
    .aboutme__container {
        display: grid;
        grid-template-columns: auto;
    }

    .main {
        padding-top: 30vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        box-sizing: border-box;
        height: 100%;
    }

    .project__main__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        box-sizing: border-box;
        height: 100%;
    }

    .project__container__left {
        height: 100%;
        display: flex;
        width: 100%;
    }

    .project__container__right {
        height: 100%;
        display: flex;
        width: 100%;
    }

    .project__img-container {
        height: 0;
        width: 0;
    }

    #mobile-menu.is-active.bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active.bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active.bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
}

/* main page section */
.main {
    background: #131313;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    background-color: #505050;
    z-index: 1;
    width: 100%;
    height: 90vh;
    padding: 0 50px;
}

.aboutme__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    background-color: #505050;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.project__container__left {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    background-color: #505050;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.project__container__right {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    background-color: #505050;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.project__main__container {
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    background-color: #505050;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 100px;
    justify-content: center;
}

.main__content {
    background-color: #505050;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #98FB98 0%, #F0FFF0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.main__content p {
    color: #98FB98;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 100;
}

.project__main__content {
    justify-content: center;
    background-color: #505050;
}

.project__main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #98FB98 0%, #F0FFF0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    text-align: center;
}

.project__main__content p {
    color: #98FB98;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
}

.main__img--container {
    text-align: center;
}

.faceshot__img--container {
    text-align: right;
    padding-right: 1rem;
}

#main__img {
    height: 80%;
    width: 80%;
}

#faceshot__img {
    height: 400px;
    width: 60%;
}

.skills_content {
    display: flex;
    width: 100%;
    height: 100%;


}

#skillsLogo {
    display: table;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #98FB98 0%, #F0FFF0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    font-size: 4rem;
}

/*for the mobile clowns */
/*
@media screen and (max-width: 768px){
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 80vh;
    }

    .aboutme__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
}

 */

.footer__container {
    align-items: center;
    padding: 1rem 0;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__links{
    width: 100%;
    display: flex;
    justify-content: left;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2{
    font-size: 1.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #98FB98 0%, #F0FFF0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.footer__link--items a {
    color: #F0FFF0;
}
